body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    border: 1px solid black;
}

.container {
    max-width: 80%;
}

#reload {
    padding: 10px;
    font-size: 15px;
    background-color: navy;
    color: aliceblue;
    border: none;
    border-radius: 12px;
}
